#include <windows.h>
#include "resource.h"

IDI_APP_ICON ICON "HPlotter.ico"

IDC_MENU MENU
{
	POPUP "&File"
	{
		MENUITEM	"&Export DXF",	IDM_DXF
		MENUITEM	"E&xit",		IDM_EXIT
	}
	POPUP "&Visualizza"
	{
		MENUITEM	"&Opzioni",		IDM_OPTIONS
	}
	POPUP "&Help"
	{
		MENUITEM	"&Info",		IDM_ABOUT
	}
}

// dialogo "About"
IDD_DIALOG DIALOG 0, 0, 150, 110
STYLE DS_CENTER | WS_SYSMENU
CAPTION "Info"
FONT 8, "MS Sans Serif"
BEGIN
	LTEXT	"HARRY PLOTTER", IDC_STATIC_TITLE ,10,5,200,8 // IDC_STATIC_TITLE per metterlo in grassetto
	LTEXT	"Programma che disegna grafici", IDC_STATIC ,10,15,150,50
	LTEXT	"", IDC_STATIC_VERSION, 10,30,140,25 // testo aggiornato da AboutProc
	LTEXT	"Creato da: MARCHI TECHNOLOGY (c)", IDC_STATIC ,10,65,150,8, WS_DISABLED
	DEFPUSHBUTTON	"OK", IDC_BUTTON, 45,80,60,20
END

// Definizione del Dialog Opzioni
IDD_OPTIONS_DIALOG DIALOG 0, 0, 180, 120
STYLE DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Opzioni Visualizzazione"
FONT 8, "MS Sans Serif"
BEGIN
	LTEXT			"Margine bordo (px):", IDC_STATIC, 10, 15, 80, 10
	EDITTEXT		IDC_EDIT_MARGIN, 95, 12, 50, 12, ES_NUMBER
	LTEXT			"Spessore linee (px):", IDC_STATIC, 10, 32, 80, 10
	COMBOBOX		IDC_COMBO_LINE_WIDTH, 95, 29, 50, 80, WS_CHILD | WS_VISIBLE | CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP // Lo stile CBS_DROPDOWNLIST rende il menu non modificabile dall'utente. Inoltre, l'altezza (es. 80) deve includere lo spazio per l'apertura del menu a tendina.
	CONTROL			"Attiva Tema Scuro", IDC_CHECK_DARKMODE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 10, 52, 120, 10
	DEFPUSHBUTTON	"OK", IDOK, 35, 85, 50, 14
	PUSHBUTTON		"Annulla", IDCANCEL, 95, 85, 50, 14
END
