#include <windows.h>
#include "resource.h"

IDC_MENU MENU
{
	POPUP "&File"
	{
		MENUITEM	"&Export DXF",	IDM_DXF
		MENUITEM	"E&xit",		IDM_EXIT
	}
	POPUP "&Visualizza"
	{
		MENUITEM	"&Opzioni",		IDM_OPTIONS
	}
	POPUP "&Help"
	{
		MENUITEM	"&Info",		IDM_ABOUT
	}
}

// dialogo "About"
IDD_DIALOG DIALOG 0, 0, 150, 110
STYLE DS_CENTER | WS_SYSMENU
CAPTION "Info"
FONT 8, "MS Sans Serif"
BEGIN
	LTEXT	"HARRY PLOTTER", IDC_STATIC_TITLE ,10,5,200,8 // IDC_STATIC_TITLE per metterlo in grassetto
	LTEXT	"Programma che disegna grafici", IDC_STATIC ,10,15,150,50
	LTEXT	"", IDC_STATIC_VERSION, 10,30,140,25 // testo aggiornato da AboutProc
	LTEXT	"Creato da: MARCHI TECHNOLOGY (c)", IDC_STATIC ,10,65,150,8, WS_DISABLED
	DEFPUSHBUTTON	"OK", IDC_BUTTON, 45,80,60,20
END

// Definizione del Dialog Opzioni
IDD_OPTIONS_DIALOG DIALOG 0, 0, 180, 100
STYLE DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Opzioni Visualizzazione"
FONT 8, "MS Sans Serif"
BEGIN
	LTEXT			"Margine bordo (px):", IDC_STATIC, 10, 15, 80, 10
	EDITTEXT		IDC_EDIT_MARGIN, 95, 12, 50, 12, ES_NUMBER
	CONTROL			"Attiva Tema Scuro", IDC_CHECK_DARKMODE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 10, 35, 120, 10
	DEFPUSHBUTTON	"OK", IDOK, 35, 65, 50, 14
	PUSHBUTTON		"Annulla", IDCANCEL, 95, 65, 50, 14
END
